/* GLOBAL */

body {
	margin-left: 10%;
	margin-top: 4%;
	margin-right: 10%;
}

h1 {
	color: #333333;
	font-family: Lobster, Roboto, Helvetica, sans-serif;
	font-size: 48px;
	margin-bottom: 12px;
	user-select: none;
}

h2 {
	padding-top: 12px;
	font-family: Roboto, Helvetica, sans-serif;
	user-select: none;
	color: #333333;
}

.nav-link {
	color: grey;
	font-family: Oswald, Helvetica, sans-serif;
	margin-right: 12px;
	user-select: none;
	text-decoration: none;
}

.active {
	color: #333333;
}

.nav {
	margin-bottom: 24px;
	user-select: none;
}

/* HOME */

.essay {
	position: relative;
	margin-right: 12px;
	float: left;
	user-select: none;
}

.essay img {
	height: 360px;
	filter: brightness(80%);
}

.essay div {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
	color: white;
	font-size: 32px;
	font-family: Roboto, Helvetica, sans-serif;
	user-select: none;
}

/* WRITING */

.article {
	line-height: 70px;
	background-color: white;
	border-radius: 8px;
	transition: 150ms;
}

.article:hover {
	background-color: #EEEEEE;
	transition: 150ms;
}

.article:hover .subtitle {
	opacity: 1;
	transition: 300ms;
}

.article-img {
	height: 70px;
	width: 105.117px;
	border-radius: 8px;
	float: left;
	margin-right: 12px;
	user-select: none;
}

.article-title {
	font-family: Roboto, Helvetica, sans-serif;
	font-size: 24px;
	user-select: none;
}

.article-title a {
	text-decoration: none;
	color: #333333;
}

.subtitle {
	color: #888;
	opacity: 0;
	transition: 100ms;
}

/* PHOTOGRAPHY */

.book-container {
	width: 740px;
}

.book {
	margin-right: 12px;
	margin-bottom: 12px;
	float: left;
	user-select: none;
}

.book img {
	height: 360px;
}

.book-info {
	font-size: 0;
	opacity: 0;
	transition: 300ms;
}

.book-container:hover .book-info {
	font-size: 16px;
	transition: 300ms;
}

.book:hover .book-info {
	opacity: 1;
	transition: 300ms;
}

.book-title {
	font-family: Roboto, Helvetica, sans-serif;
	user-select: none;
	color: #666;
	text-align: center;
	margin-top: 4px;
	margin-bottom: 0;
}

.book-links {
	font-family: Roboto, Helvetica, sans-serif;
	user-select: none;
	color: #333;
	text-align: center;
	margin-top: 2px;
}

.book-links a {
	color: #333;
}

hr {
	opacity: 60%;
}

/* ABOUT */

.portrait {
	height: 360px;
	width: 288px;
	user-select: none;
	float: left;
	margin-right: 24px;
}

.about p {
	font-family: Roboto, Helvetica, sans-serif;
	width: 800px;
	color: #666666;
	user-select: none;
}

.about a {
	color: #333333;
}

.no-ul {
	text-decoration: none;
}

.social {
	height: 24px;
	margin-right: 24px;
	margin-top: 6px;
}

/* MOBILE */

@media only screen and (max-width: 600px) {
	/* HOME */
	.essay img {
		width: 100%;
		height: auto;
		filter: brightness(80%);
	}
	.essay div {
		font-size: 20px;
	}
	/* WRITING */
	.article {
		line-height: 20px;
	}
	.article-img {
		display: none;
	}
	.article-title {
		font-size: 16px;
	}
	.subtitle {
		display: block;
		opacity: 1;
		font-size: 14px;
	}
	/* PHOTOGRAPHY */
	.book-container {
		width: 100%;
	}
	.book img {
		width: 100%;
		height: auto;
	}
	.book-info {
		font-size: 16px;
		opacity: 1;
	}
	/* ABOUT */
	.about img {
		width: 100%;
		height: auto;
		margin-bottom: 24px;
	}
	.about p {
		width: 100%;
	}
	.social {
		height: 24px !important;
		width: auto !important;
		margin-right: 24px !important;
		margin-top: 6px !important;
	}
	.tumblr {
		width: 16px;
	}
}